[project]
name = "{{repository_name}}"
version = "0.1.0"
description = "{{project_description}}"
readme = "README.md"
authors = [
    { name = "{{author_name}}", email = "{{author_email}}" }
]
requires-python = ">=3.12"
dependencies = [
    "fastapi[standard]<1.0.0,>=0.116.1",
    "httpx<1.0.0,>=0.28.1",
    "load-dotenv<1.0.0,>=0.1.0",
    "psycopg2-binary<3.0.0,>=2.9.0",
    "sqlalchemy<3.0.0,>=2.0.0",
]
